
.star_color_10 {
    color: rgba(69, 69, 69);
}

.star_color_10 {
    color: rgb(255, 0, 0);
}

.star_color_15 {
    color: rgb(255, 80, 0);
}

.star_color_20 {
    color: rgb(255, 150, 0);
}

.star_color_25 {
    color: rgb(200, 192, 0);
}

.star_color_30 {
    color: rgb(200, 225, 0);
}

.star_color_35 {
    color: rgb(120, 200, 0);
}

.star_color_40 {
    color: rgb(100, 175, 0);
}

.star_color_45 {
    color: rgb(50, 150, 0);
}

.star_color_50 {
    color: rgb(0, 125, 0);
}

